ul li {
  list-style: none;
}

mat-toolbar {
  overflow: hidden;
  position: relative;
  z-index: 2;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.logo-app-container {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.name-app-container {
  display: flex;
  padding-top: 6px;
  align-items: center;
}

.name-app-container > span {
  font-size: 22px;
  margin-left: 10px;
  position: relative;
  bottom: 7px;
}

.footer-container{
  position: fixed;
}
