<mat-toolbar>
    <mat-toolbar-row>
        <div class="logo-app-container">
            <div>
                <img src="./assets/ic_app.png" alt="" width="35" height="35" />
            </div>
            <div class="name-app-container">
                <span>Cinema Plus Admin</span>
            </div>
        </div>

        <div fxFlex fxLayout='row' fxLayoutAlign='flex-end'>
            <ul fxLayout='row' fxLayoutGap='20px'>
                <li> 
                    <mat-icon>exit_to_app</mat-icon>
                </li>
            </ul>
        </div>


    </mat-toolbar-row>
</mat-toolbar>