.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #F5F5F5;
}

.card-login{
    margin-bottom: 30px;
    height: 570px;
    width: 470px;
    padding: 0px;  
    border-radius: 5px ;
}

mat-progress-bar{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.mat-progress-bar-fill::after{
    background-color: #f20;
}

.background-logo-app-container{
    display: flex;
    background: #F8F8FF;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: fit-content;
    padding: 15px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.logo-app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    margin-top: 15px;
}

.title-container{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.content-login-container{
    padding: 30px;
    position: relative;
    top: 50px;
}

mat-form-field{
    width: 100%;
}

.btn-login{
    width: 100%;
}

.checkbox-container{
    margin-top: 15px;
}





